<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<!--    id-->
<!--    name-->
<!--    email address-->
<!--    password-->
<!--    description-->
<!--    address-->
<!--    menu-->
<!--    price guide-->
<!--    category-->
    <form id="signup_form" method="POST" action="/signup">
        Business Name:
        <label for="business_name"></label><input name="business_name" type="text" id="business_name" placeholder="Enter Business Name" onchange="nameCheck(this.value)" required>
        <p id="name_error"></p>
        Email:
        <label for="email"></label><input type="email" name="email" id="email" placeholder="Enter Email Address" required>
        <p id="email_error"></p>
        Password:
        <label for="password"></label><input pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" type="password" placeholder="Enter Password" name="password" id="password" required>
        <p id="password_error"></p>
        Confirm Password:
        <label for="confirm_password"></label><input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
        <p id="confirm_error"></p>
        Contact Number:
        <label for="contact_number"></label><input pattern="^[0-9]{10}$" type="text" placeholder="Your phone number..." name="contact_number" id="contact_number" required>
        Description:
        <label for="description"></label><input type="text" placeholder="A description of who you are..." name="description" id="description" required>
        Address:
        <label for="address"></label><input type="text" placeholder="Enter address here" name="address" id="address" required>
        <p id="address_error"></p>
        <label for="price_guide" >Price Range:</label>
           <select name="price_guide" id="price_guide" form="signup_form">
            <option value="low">$0-$75</option>
            <option value="medium">$75-$150</option>
            <option value="high">$150-$300</option>
          </select>
        <label for="category" >Casual Dining or Fine Dining:</label>
           <select name="category" id="category" form="signup_form">
            <option value="casual">Casual Dining</option>
            <option value="fine">Fine Dining</option>
          </select>
        <button type="button" id="reset_add"><a href="signup.html">Reset</a></button>
        <input type="submit" id="submit" value="Register now!">
    </form>
</body>
<script>
        var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
    }
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    // pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
</script>
</html>