<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<!--    id-->
<!--    name-->
<!--    email address-->
<!--    password-->
<!--    description-->
<!--    address-->
<!--    menu-->
<!--    price guide-->
<!--    category-->
    <form id="signup_form" method="POST" action="/forgot_password">
        Business Name:
        <label for="business_name"></label><input name="business_name" type="text" id="business_name" placeholder="Enter Business Name" onchange="nameCheck(this.value)" required>
        <p id="name_error"></p>
        Email:
        <label for="email"></label><input type="email" name="email" id="email" placeholder="Enter Email Address" required>
        <p id="email_error"></p>
        Password:
        <label for="password"></label><input pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" type="password" placeholder="Enter Password" name="password" id="password" required>
        <p id="password_error"></p>
        Confirm Password:
        <label for="confirm_password"></label><input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
        <p id="confirm_error"></p>
        <button type="button" id="reset_add"><a href="forgot_password.html">Reset</a></button>
        <input type="submit" id="submit" value="Change Password">
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
</body>
<script>
        var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
    }
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    // pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
</script>
</html>