<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username" id="username" required>
         <input type="password" placeholder="Password" name="password" id="password" required>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      <input class="btn btn-default" type="button" value="Forgot Your Password" onclick="reset_password()">
      <input class="btn btn-default" type="button" value="Don't have an account! Sign up" value="{{url_for('signup')}}">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
