{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form id='login_form' action="/login" style="border:1px solid #ccc" method="POST">
    <div class="container">
    <h1>Log in</h1>
        <p>Log in here.</p>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" name="submit_button" value="signup" class="loginbtn">Log in</button>
        </div>
    </div>
</form>